/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Micro+5+Charted&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&display=swap');

// Colors
$blue: #13265c;
$light-blue: #95b8d1;
$dark-gray: #303234;
$cream: #FAF6F9;
$light-gray: #EBE8F1;
$pink: #EEC4F2;
$white: #FFFFFF;

// Base document colors
$navbar-bg: $light-blue; // navbar
$navbar-fg: $blue; // navbar foreground elements
$navbar-hl: $pink; // highlight color when hovering over navbar links
$body-bg: $white; // page background 
$body-color: $dark-gray; // page text 
$footer-bg: $cream; // footer 
$link-color: $pink; // hyperlinks 

